body{
  width: 100%;
    min-height:100vh;
    background: linear-gradient(135deg,#050548, #751988, #b51e5a);
    padding: 10px;
}
.App {
  width:100%;
  max-width:540px ;
  background-color: white;
  margin:100px auto 20px;
  padding:40px 30px 70px;
  border-radius:10px;
  text-align: center;
}

input {
  padding: 10px;
  margin: 5px 10px 15px;
  width: 200px;
  border-radius: 32px;
}

button {
  padding: 10px;
  margin: 5px;
  border-radius: 32px;
}

.feature{
  border-radius: 16px;
  margin:0 10px 10px 0;
}

ul {
  padding: 0;
}

li {
  padding: 5px;
  margin: 5px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li span {
  flex: 1;
  cursor: pointer;
}
